@import url(./swiper@10.3.1_swiper-bundle.min.css);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.filter {
  width: 100%;
  background-color: #F0F5F4;
  min-height: 100vh;
  padding: 50px 0;
}
.filter .content {
  max-width: 1432px;
  padding: 0 16px;
  margin: 0 auto;
}
.filter .content .filter-box {
  display: flex;
  gap: 50px;
}
.filter .content .filter-box .filter-variables {
  display: flex;
  flex-direction: column;
  gap: 30px;
  flex-shrink: 0;
  border-radius: 10px;
  background-color: #fff;
  padding: 20px;
  width: 250px;
  height: -moz-fit-content;
  height: fit-content;
}
.filter .content .filter-box .filter-variables .filter-item {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.filter .content .filter-box .filter-variables .filter-item p {
  font-size: 20px;
  font-weight: 600;
}
.filter .content .filter-box .filter-variables .filter-item .item-checkboxes {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.filter .content .filter-box .filter-body {
  width: calc(100% - 250px - 50px);
}
.filter .content .filter-box .filter-body .car-cards {
  width: 100%;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.filter .content .filter-box .filter-body .car-cards .car-card {
  width: 32%;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
}
.filter .content .filter-box .filter-body .car-cards .car-card .model-swiper {
  width: 100%;
  height: 200px;
}
.filter .content .filter-box .filter-body .car-cards .car-card .model-swiper .swiper-slide {
  padding: 10px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.filter .content .filter-box .filter-body .car-cards .car-card .model-swiper .swiper-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.filter .content .filter-box .filter-body .car-cards .car-card .model-swiper .swiper-pagination-bullet {
  background: #000000;
}
.filter .content .filter-box .filter-body .car-cards .car-card .model {
  margin: 20px 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.filter .content .filter-box .filter-body .car-cards .car-card .model .model-name {
  font-family: "Montserrat", Sans-serif;
  font-size: 19px;
  font-weight: 600;
  color: #000000;
}
.filter .content .filter-box .filter-body .car-cards .car-card .model .model-modification {
  color: #808080;
  font-family: "Montserrat", Sans-serif;
  font-size: 17px;
  font-weight: 600;
}
.filter .content .filter-box .filter-body .car-cards .car-card .stock {
  display: flex;
  gap: 10px;
}
.filter .content .filter-box .filter-body .car-cards .car-card .stock .year {
  padding-right: 10px;
  border-right: 1px solid #000000;
  font-family: "Montserrat", Sans-serif;
  font-size: 13px;
  font-weight: 400;
}
.filter .content .filter-box .filter-body .car-cards .car-card .stock .instock {
  font-family: "Montserrat", Sans-serif;
  font-size: 13px;
  font-weight: 400;
  display: flex;
  gap: 10px;
  align-items: center;
}
.filter .content .filter-box .filter-body .car-cards .car-card .stock .instock.green::before {
  content: "";
  width: 10px;
  height: 10px;
  background-color: #3DA700;
  border-radius: 50px;
}
.filter .content .filter-box .filter-body .car-cards .car-card .stock .instock.yellow::before {
  content: "";
  width: 10px;
  height: 10px;
  background-color: #F3C83A;
  border-radius: 50px;
}
.filter .content .filter-box .filter-body .car-cards .car-card .characteristic-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 50px;
}
.filter .content .filter-box .filter-body .car-cards .car-card .characteristic-list li {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: "Montserrat", Sans-serif;
  font-size: 13px;
  font-weight: 400;
}
.filter .content .filter-box .filter-body .car-cards .car-card .price {
  margin-top: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.filter .content .filter-box .filter-body .car-cards .car-card .price .general-price {
  color: #000000;
  font-family: "Montserrat", Sans-serif;
  font-size: 20px;
  font-weight: 700;
}
.filter .content .filter-box .filter-body .car-cards .car-card .price .sale {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: "Montserrat", Sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #808080;
}
.filter .content .filter-box .filter-body .car-cards .car-card .price .sale .sale-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.filter .content .filter-box .filter-body .car-cards .car-card .location {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 30px;
  margin-top: 15px;
}
.filter .content .filter-box .filter-body .car-cards .car-card .location .location-name {
  font-family: "Montserrat", Sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #808080;
}
.filter .content .filter-box .filter-body .car-cards .car-card .card-btn {
  width: 100%;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
}

.custom-checkbox {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.custom-checkbox .checkbox {
  margin-right: 10px;
  flex-shrink: 0;
}

.custom-checkbox input {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  position: absolute;
}

.checkbox {
  position: relative;
  width: 20px;
  height: 20px;
  border: 1px solid #C6CAE2;
  border-radius: 2px;
}

.custom-checkbox span {
  color: #1A2A37;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.checkmark {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: auto;
  display: none;
}

.custom-checkbox input:checked ~ .checkbox .checkmark {
  display: block;
}

.custom-checkbox input:checked ~ .checkbox {
  background: #EE8F00;
  border: 1px solid #EE8F00;
}/*# sourceMappingURL=filter.css.map */